<section class="advantages">
    <div class="advantages__container container">
      <h2 class="advantages__title title" id="advantages">Преимущества</h2>
      <ul class="advantages__list">
        <li class="advantages__item">
          <div class="advantages__img-block"><img src="{{'assets/img/advantages/fast.svg'|theme}}" width="80" height="80" alt="Быстро"></div>
          <h3>Быстро</h3>
          <p>Время в пути — всего 60 минут в одну сторону.</p>
        </li>
        <li class="advantages__item">
          <div class="advantages__img-block"><img src="{{'assets/img/advantages/comfortable.svg'|theme}}" width="80" height="80" alt="Комфортно"></div>
          <h3>Комфортно</h3>
          <p>Без автомобильных пробок и дорожной пыли.</p>
        </li>
        <li class="advantages__item">
          <div class="advantages__img-block"><img src="{{'assets/img/advantages/conveniently.svg'|theme}}" width="80" height="80" alt="Удобно"></div>
          <h3>Удобно</h3>
          <p>Причалы в центре Петербурга и Кронштадта в шаге от основных достопримечательностей.</p>
        </li>
        <li class="advantages__item">
          <div class="advantages__img-block"><img src="{{'assets/img/advantages/handsomely.svg'|theme}}" width="80" height="80" alt="Красиво"></div>
          <h3>Красиво</h3>
          <p>Панорамы Финского залива и необычный вид на Петербург и Кронштадт со стороны воды.</p>
        </li>
      </ul>
    </div>
  </section>