<header class="header-inner">
    <div class="header-inner__container container">
        <div class="header-inner__logo-block">
            <a class="header-inner__logo-kronstadt" href="/">
                <img src="{{'assets/img/promo/kronstadt.svg'|theme}}" alt="Kronstadt" width="106" height="118"/>
            </a>
            <a class="header-inner__logo-neva-travel" href="#!">
                <img src="{{'assets/img/promo/neva-travel.svg'|theme}}" alt="Neva travel" width="130" height="47"/>
            </a>
        </div>
        <h2>{{ this.page.title }}</h2>
    </div>
</header>