<head>
    <title>{{ this.page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Остров фортов">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/img/favicon/apple-touch-icon.png'|theme}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/img/favicon/favicon-32x32.png'|theme}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/img/favicon/favicon-16x16.png'|theme}}">
    <link rel="mask-icon" href="{{'assets/img/favicon/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
    <link rel="manifest" href="{{'assets/img/favicon/site.webmanifest' |theme}}">
    <link rel="mask-icon" href="{{'assets/img/favicon/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{'assets/css/style.min.css?v=1.1.6'|theme}}">
    {% styles %}
</head>